/test/nbproject/private/
/test/build/
/tinhkethua/build/
/kethua/nbproject/private/
/kethua/build/
/static/nbproject/private/
/static/build/
/hocsinh/nbproject/private/
/hocsinh/build/
/abstract/nbproject/private/
/abstract/build/